<div id="mySidenav" class="sidenav">
    <h1>CATEGORIES</h1>
    <hr style="color:white; margin-bottom:20px;">

    <div *ngFor="let category of categories, let i = index">
        <hr style="color:white;">

        <a><span (click)="getBook(category)"><img src="{{imgArray[i]}}">&nbsp; {{category}}</span></a>
        <hr style="color:white;">

    </div>
    <br>
    <br>
    <h1>AUTHORS</h1>
    <hr style="color:white; margin-bottom:20px;">

    <div *ngFor="let author of authors, let i = index">
        <hr style="color:white;">

        <a><span (click)="fetchBookByAuthor(author)"><img src="../../assets//author.png">&nbsp; {{author}}</span></a>
        <hr style="color:white;">

    </div>
</div>


<div id="main">
    <div class="actions">
        <button class="border filter" (click)="availablityFilter()">Filter by availability</button>
        <button class="border filter" (click)="sortAscending()">price: Low to High</button>

        <button class="border filter" (click)="sortDescending()">price: High to Low</button>

        <span>price range &nbsp;<input class="border input" type="number" min="0" [(ngModel)]="startRange"
                (keyup)="filterOnRange()">&nbsp; to &nbsp;<input class="border input" type="number" min="0"
                [(ngModel)]="endRange" (keyup)="filterOnRange()"></span>
    </div>
    <br>
    <div class="single-book-modal" *ngFor="let book of bookList,index as i">
        <div class="imgdiv"><img src={{book.book.bookImgSrc}} alt="" id="bookImg">
            <div class="availability-green" *ngIf="bookList[i].quantity>0">
                <p>In stock</p>
            </div>
            <div class="availability-red" *ngIf="bookList[i].quantity<=0">
                <p>Out of stock</p>
            </div>
        </div>
        <div class="single-book-details">
            <h1>{{book.book.bookName}}</h1>
            <h3>-{{book.book.authorName}}</h3>
            <p>{{book.book.price|currency:"INR"}}</p>
            <br>
            <hr>
            <p>{{book.book.description}}</p>
            <br>
            <p>language: {{book.book.language}}</p>
        </div>

        <button type="button" class="addtocartbtn" *ngIf="bookList[i].quantity>0"
            (click)="addToCartIfLogin(book.book.bookName)"><span style="display:flex;justify-content:center;">Add to
                cart
                &nbsp;
                <img src="../../assets/shopping-bag.png" alt="" style="height:20px;"></span>
        </button>
    </div>
</div>