.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vh;
}

.table tr {
  text-align: center;
}

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  top: 8%;
  left: 0;
  background-color: rgb(139, 139, 139);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #040404;
  display: block;
  transition: 0.3s;
  margin-bottom: 50x;
}

.sidenav a:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.sidenav .closebtn {
  position: absolute;
  top: 3%;
  height: 40px;
  right: 2%;
  cursor: pointer;
}

.sidenav a img {
  height: 30px;
}

.sidenav span {
  display: flex;
  align-items: center;
}

.sidenav h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: -30px;
  margin-bottom: 5px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}

#main {
  top: 10%;
  display: flex;
  flex-direction: column;
  height: auto;
  position: absolute;
  left: 25%;
  padding: 20px;
  width: 75%;
  margin-bottom: 30px;
}

.imgdiv {
  padding: 5px;
}

.imgdiv #bookImg {
  height: 200px;
  width: 154px;
  transform: translate(50% 50%);
}

.single-book-modal:hover {
  box-shadow: 0 0 10px rgb(35, 35, 35);
  transition: 0.3s ease;
}

.single-book-modal {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  width: auto;
}

.single-book-details {
  margin-left: 20px;
  width: 70%;
  /* border: 1px solid green; */
  text-align: justify;
}

.availability-red {
  margin-top: 5px;
  border: none;
  background-color: red;
  color: white;
  text-align: center;
  padding: 3px;
}

.availability-green {
  margin-top: 5px;
  border: none;
  background-color: green;
  color: white;
  text-align: center;
  padding: 3px;
}

.addtocartbtn {
  margin-left: 5px;
  right: 0;
  background-color: rgb(255, 140, 0);
  width: auto;
  padding: 5px;
}

.addtocartbtn:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(3, 3, 3, 0.24);
}

h1 {
  font-size: 25px;
  font-family: Roboto;
  font-weight: bold;
}

h3 {
  font-family: 'sans-serif', cursive;
  font-size: 17px;
}

.single-book-details {
  text-align: Justify;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.filter {
  padding: 5px;
  width: 180px;
  background-image: linear-gradient(135deg, gold, rgb(198, 87, 87))
}

.filter:hover {
  padding: 2px;
  background-image: linear-gradient(135deg, rgb(33, 33, 33), rgb(96, 96, 96));
  color: white;
  transition: 0.2s ease;
}

.input {
  width: 50px;
}