<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="../../assets/img-01.png" alt="IMG">
            </div>

            <form class="login100-form">
                <span class="login100-form-title">
                    Admin Login
                </span>
                <hr>
                <div class="wrap-input100 validate-input" data-validate="Valid username is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email" placeholder="Username" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <img src="../../assets/contact.png" alt="">
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="pass" placeholder="Password" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <img src="../../assets/key.png" alt="">
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>