<div>
    <div class="book-image">
        <img src={{book.book.bookImgSrc}} alt="">
    </div>
    <div class="availability" *ngIf="book.quantity<=0">
        <p>Out of stock</p>
    </div>

    <div class="book-details">
        <h1><b>{{book.book.bookName}}</b></h1>
        <h3>- {{book.book.authorName}}</h3>
        <br>

        <p style="margin-bottom:20px">price: {{book.book.price|currency:"INR"}}</p>
        <hr>
        <p>{{book.book.description}}
        </p>
        <hr>

        <p style="margin-top:20px">Pages: {{book.book.pages}}</p>
        <br>
        <p>language: {{book.book.language}}</p>
        <br>
        <button [disabled]="book.quantity==0" style="cursor:not-allowed;" (click)="addToCart()" class="cart-btn"> ADD TO
            CART
        </button>


    </div>
</div>