<div>
    <div class="book-image">
        <img src="../../assets/the-two-towers.jpg" alt="">
    </div>
    <div class="availability">
        <p>Out of stock</p>
    </div>

    <div class="book-details">
        <h1><b>The Two Towers</b></h1>
        <h3>- Chetan Bhagat</h3>
        <br>
        
        <p style="margin-bottom:20px">price: $ 7.00</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus veritatis, eius molestiae molestias ducimus
            ipsum in labore consequatur, officiis cum iste a adipisci. Quo, fuga ipsam magni repellendus molestiae
            atque.
            <br>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat id ut laboriosam repellendus illum beatae
            fugit iste. In voluptates eos officia, accusamus nam ipsum consequuntur soluta qui laboriosam voluptas
            facilis.
        </p>
        <hr>

        <p style="margin-top:20px">150 pages</p>
        <br>
        <p>language: English</p>
        <br>
<button class="cart-btn"> ADD TO CART
</button>

       
    </div>
</div>