/* body {
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
    background: #e3e9f7;
} */

.logo {
    padding: 20px;
}

nav ul {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(16, 148, 160);
}

nav ul li {
    list-style: none;
}


nav ul li a {
    display: block;
    font-family: 'montserrat';
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #fff;
    position: relative;
    padding: 20px 0px 15px 25px;
    transition: all 0.5s;
}

nav ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #e3e9f7;
    border-radius: 40px 0 0 40px;
    z-index: -1;
    transition: all 1s;
}

nav ul li a:hover {
    color: #2b2626;
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover:before {
    width: 95%;
}


.wrapper {
    margin-left: 260px;
    border-top: 1px solid blue;
}

.section {
    left: 42%;
    display: grid;
    place-items: center;
    min-height: auto;
    position: absolute;
    text-align: center;
    top: 10%;
}

.box-area h2 {
    text-transform: uppercase;
    font-size: 30px;
}

.action-logo {
    height: 20px;
    width: 20px;
    position: absolute;
    margin-top: 2px;
}

.add-book-btn {
    padding: 10px;
    Background-color: green;
    color: white;
    border-radius: 10px;
    width: 200px;
    letter-spacing: 2px;
}

.section form {
    /* border:1px solid #333; */
    padding: 20px;
    box-shadow: 0 0 10px #999;
    height: auto;
}

.section-viewAllBooks {
    /* border: 1px solid rgb(36, 197, 55); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    background-image: linear-gradient(to right, rgb(177, 177, 177), teal);
}

.single-book-modal {
    top: 13%;
    /* border: 2px solid rgb(236, 73, 73); */
    display: flex;
    margin-left: 70px;
    height: 250px;
    left: 20%;
    padding: 20px;
    width: 80%;
}

.single-book-modal:hover {
    box-shadow: 0 0 20px rgb(22, 22, 22);
    transition: 0.3s ease;
}

#bookImg {
    margin-left: 30px;
    height: 200px;
    width: 150px
}

.actions {
    margin-top: 20px;
    display: flex;
    margin-left: 362px;
}

.single-book-details {
    margin-left: 50px;
    width: 70%;
}

.availability {
    /* position: absolute; */
    top: 73%;
    width: 100px;
    left: 72%;
    border: none;
    padding: 1px;
    background-color: #f00202;
    color: white;
    text-align: center;
}

#edit {
    height: 20px;
    width: 20px;
}

#delete {
    height: 20px;
    width: 20px;
}

h1 {
    font-size: 25px;
    font-family: Roboto;
    font-weight: bold;
}

h3 {
    font-family: 'sans-serif', cursive;
    font-size: 17px;
}

.single-book-details {
    text-align: Justify;
}

.add-book-btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(3, 3, 3, 0.24);
}

#prev {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    /* border:1px solid blue; */
    background-color: skyblue;
    width: 100px;
}

#next {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    /* border:1px solid blue; */
    background-color: rgb(249, 175, 48);
    width: 70px;
    /* margin-left:-108px; */
}