<div style="border: 1px solid #333">
    <form [formGroup]="newBookForm" (ngSubmit)="onSubmit()">
        <label for="">book name</label>
        <input type="text" formControlName="bookName">
        <label for="">book name</label>
        <input type="text" formControlName="autherName">
        <label for="">book name</label>
        <input type="text" formControlName="description">
        <!-- <div formArrayName="genres" *ngFor="let genre of newBookForm.get('genres').['controls'];let i = index;">
            <input type="text" formControlName="genre">
        </div> -->
        <label for="">book name</label>
        <input type="text" formControlName="quantity">
        <label for="">book name</label>
        <input type="text" formControlName="price">
        <label for="">book name</label>
        <input type="text" formControlName="bookImgSrc">
        <button type="submit">Add</button>
    </form>
</div>