@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.card {
    background-color: rgba(197, 197, 197, 0.6);
    border: none;
}

.text-white:hover {
    border: none;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

.card:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgb(41, 41, 41)
}

.card-body {
    background-color: linear-gradient(135deg lime, yellow);
    margin: 0;
}

.col-lg5 {
    background-color: rgb(204, 204, 204)
}

.row {
    margin-top: 26px;
    min-height: 500px;
}

.tick {
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

.checkout-btn {
    font-size: 20px;
    display: flex;
    padding: 5px;
    width: 200px;
    justify-content: center;
    background-color: coral;

}

.checkout-btn img {
    margin-top: -5px;
    margin-left: 10px;
}

.checkout-btn:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(3, 3, 3, 0.24);
}

.order-placed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    height: 25%;
    align-items: center;
    position: absolute;
    top: 35vh;
    background-color: #fff;
    right: 30%;
    box-shadow: 0 0 10px rgb(50, 50, 50);

}

.order-placed img {
    height: 100px;
    width: 100px;
    z-index: 10;
}

.order-placed button {
    margin-top: 10px;
    background-color: rgb(242, 134, 26);
    padding: 10px;
}

.order-placed button:hover {
    transition: 0.3s ease;
    transform: scale(1.1);
}

.order-placed p {
    font-size: 20px;
}