<div>
    <section class="h-100 h-custom" style="background-color: rgb(255, 255, 255);">

        <div class="container py-5 h-100">

            <div class="row d-flex justify-content-center align-items-center h-100">

                <div class="col">

                    <div class="card">

                        <div class="card-body">

                            <div class="row">

                                <div class="col-lg-7">
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <input type="text" name="username" [(ngModel)]="username">
                                        <button (click)="getUserCart()"> click</button>
                                        <div>
                                            <p class="mb-1">Shopping cart</p>
                                            <p class="mb-0" *ngIf="cart.length">You have {{cart.length}} items in your
                                                cart</p>
                                        </div>
                                        <!-- <div>
                                            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                                                    class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                                        </div> -->
                                    </div>

                                    <div class="card mb-2" *ngFor="let book of cart,index as i">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src={{book.bookImgSrc}} class="img-fluid rounded-3"
                                                            alt="Shopping item" style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>{{book.bookName}}</h5>
                                                        <p class="small mb-0">{{book.language}}</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div style="width: 50px;">
                                                        <h5 class="fw-normal mb-0">2</h5>
                                                    </div>
                                                    <div style="width: 80px;">
                                                        <h5 class="mb-0">{{book.price|currency:"INR"}}</h5>
                                                    </div>
                                                    <a style="color: #cecece;"
                                                        (click)="deleteBookFromCart(username,book.bookName,i)"><img
                                                            src="../../assets/bin.png" alt="" style="height:30px"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- <div class="card mb-2" >
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                                                            class="img-fluid rounded-3" alt="Shopping item"
                                                            style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>Iphone 11 pro</h5>
                                                        <p class="small mb-0">256GB, Navy Blue</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div style="width: 50px;">
                                                        <h5 class="fw-normal mb-0">2</h5>
                                                    </div>
                                                    <div style="width: 80px;">
                                                        <h5 class="mb-0">$900</h5>
                                                    </div>
                                                    <a href="#!" style="color: #cecece;"><img src="../../assets/bin.png"
                                                            alt="" style="height:30px"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img2.webp"
                                                            class="img-fluid rounded-3" alt="Shopping item"
                                                            style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>Samsung galaxy Note 10 </h5>
                                                        <p class="small mb-0">256GB, Navy Blue</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div style="width: 50px;">
                                                        <h5 class="fw-normal mb-0">2</h5>
                                                    </div>
                                                    <div style="width: 80px;">
                                                        <h5 class="mb-0">$900</h5>
                                                    </div>
                                                    <a href="#!" style="color: #cecece;"><img src="../../assets/bin.png"
                                                            alt="" style="height:30px"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                    <!-- <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img3.webp"
                                                            class="img-fluid rounded-3" alt="Shopping item"
                                                            style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>Canon EOS M50</h5>
                                                        <p class="small mb-0">Onyx Black</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div style="width: 50px;">
                                                        <h5 class="fw-normal mb-0">1</h5>
                                                    </div>
                                                    <div style="width: 80px;">
                                                        <h5 class="mb-0">$1199</h5>
                                                    </div>
                                                    <a href="#!" style="color: #cecece;"><img src="../../assets/bin.png"
                                                            alt="" style="height:30px"></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                    <!-- <div class="card mb-3 mb-lg-0">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <div>
                                                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img4.webp"
                                                            class="img-fluid rounded-3" alt="Shopping item"
                                                            style="width: 65px;">
                                                    </div>
                                                    <div class="ms-3">
                                                        <h5>MacBook Pro</h5>
                                                        <p class="small mb-0">1TB, Graphite</p>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center">
                                                    <div style="width: 50px;">
                                                        <h5 class="fw-normal mb-0">1</h5>
                                                    </div>
                                                    <div style="width: 80px;">
                                                        <h5 class="mb-0">$1799</h5>
                                                    </div>
                                                    <a href="#!" style="color: #cecece;"><img src="../../assets/bin.png"
                                                            alt="" style="height:30px"></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div> -->
                                    <hr style="margin-top:20px;">
                                    <h3 style="font-size:20px; margin-top:20px;" type="button"><a style="display:flex;"
                                            routerLink=""><img src="../../assets/back-button.png" alt=""
                                                style="height:30px; margin-right:10px; margin-top:-5px;">
                                            Continue shopping</a></h3>
                                </div>
                                <div class="col-lg-5">

                                    <div class="card bg-primary text-white rounded-3">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center mb-4">
                                                <h3 class="mb-0">USERNAME</h3>
                                                <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png"
                                                    class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                                            </div>

                                            <p class="medium mb-2">Payment Methods:</p>
                                            <div class="text-white" (click)="cardPayment()"
                                                style="display:flex; padding:0;margin-bottom:10px; border:1px solid rgb(173, 173, 173);">
                                                <img src="../../assets/visa.png" alt="" style="margin-right:20px;">
                                                <img src="../../assets/discover.png" alt=""
                                                    style="height:56px;margin-right:20px;">
                                                <img src="../../assets/maestro.png" alt=""
                                                    style="height:46px;margin-right:20px;margin-top:5px;" />
                                                <span
                                                    style="margin-top:20px; letter-spacing:1px; margin-left:10px; font-size:20px">Credit/Debit
                                                    card</span>
                                                <img src="../../assets/check-mark.png" alt="" class="tick"
                                                    *ngIf="cardPay">
                                            </div>

                                            <div class="text-white"
                                                style="display:flex; padding:0;margin-bottom:10px; border:1px solid rgb(173, 173, 173);"
                                                (click)="upiPayment()">
                                                <img src="../../assets/paytm.png" alt=""
                                                    style="margin-right:20px;height:48px;margin-top:3px;margin-left:5px;">
                                                <img src="../../assets/google-pay.png" alt=""
                                                    style="height:56px;margin-right:20px;">
                                                <img src="../../assets/paypal.png" alt=""
                                                    style="height:46px;margin-right:20px;margin-top:5px;" />
                                                <img src="../../assets/amazon-pay.png" alt=""
                                                    style="height:46px;margin-right:20px;margin-top:5px;" />
                                                <span
                                                    style="margin-top:15px; letter-spacing:1px; margin-left:10px;margin-right:80px;  font-size:20px">UPI
                                                </span>
                                                <img src="../../assets/check-mark.png" class="tick" alt=""
                                                    *ngIf="upiPay">
                                            </div>

                                            <div class="text-white"
                                                style="display:flex; padding:0;border:1px solid rgb(173, 173, 173); margin-bottom:10px; padding:5px"
                                                (click)="codPayment()">
                                                <img src="../../assets/cash-on-delivery.png" alt=""
                                                    style="margin-right:20px; height:45px">
                                                <span
                                                    style="margin-top:5px; letter-spacing:1px; margin-left:10px;margin-right:164px; font-size:20px">Cash-on
                                                    delivery</span>
                                                <img src="../../assets/check-mark.png" class="tick" alt=""
                                                    *ngIf="codPay">
                                            </div>


                                            <form class="mt-4">

                                                <div class="form-outline form-white mb-4">
                                                    <label class="form-label" for="typeText">Billing Address</label>
                                                    <input type="text" id="typeText"
                                                        class="form-control form-control-md" siez="17"
                                                        placeholder="Ex. 123/A church street, New York" />
                                                </div>

                                                <!-- <div class="row mb-4">
                                                    <div class="col-md-6">
                                                        <div class="form-outline form-white">
                                                            <input type="text" id="typeExp"
                                                                class="form-control form-control-lg" placeholder="MM/YYYY"
                                                                size="7" id="exp" minlength="7" maxlength="7" />
                                                            <label class="form-label" for="typeExp">Expiration</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-outline form-white">
                                                            <input type="password" id="typeText"
                                                                class="form-control form-control-lg"
                                                                placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3"
                                                                maxlength="3" />
                                                            <label class="form-label" for="typeText">Cvv</label>
                                                        </div>
                                                    </div>
                                                </div> -->

                                            </form>

                                            <hr class="my-4">

                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Subtotal</p>
                                                <!-- <p class="mb-2">Rs. 4798.00</p> -->
                                                <p class="mb-2">{{totalBill|currency:"INR"}}</p>
                                            </div>

                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Shipping Charges</p>
                                                <p class="mb-2">Rs. 20.00</p>
                                            </div>
                                            <hr>
                                            <div class="d-flex justify-content-between mb-4">
                                                <p class="mb-2">Total(Incl. taxes)</p>
                                                <p class="mb-2">{{totalBill+20|currency:"INR"}}</p>
                                            </div>

                                            <button type="button" class="checkout-btn" (click)="toggleCheckout()">
                                                Checkout <img src="../../assets/checkout.png" alt=""
                                                    style="height:40px; width:40px;" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="order-placed" *ngIf="checkout">
        <p>Order placed successfully!!</p>
        <img src="../../assets/order.png" alt="">
        <button type="button" routerLink="">Continue shopping</button>
    </div>
</div>