<header>

  <div class="navbar2">
    <div><img src="../../assets/public (1)-PhotoRoom.png" alt="" class="logo" routerLink=""></div>
    <div class="header2">
      <ul class="menu2">
        <form class="nosubmit">
          <input class="nosubmit" name="searchWord" type="search" placeholder="Search for books." *ngIf="!adminloggedIn"
            [(ngModel)]="searchWord" (keyup)="search()">
        </form>
        <p *ngIf="adminloggedIn" style="font-size:30px; color:white; margin-right:50px;">Admin Dashboard</p>
        <li *ngIf="!adminloggedIn" (click)="goToCategory()">Category</li>
        <li class="nav" routerLink="/admin" *ngIf="noOneLoggedIn">Admin</li>
        <li class="login" routerLink="/login" [state]="{flag: true}" *ngIf="noOneLoggedIn">Login</li>
        <li class="login" routerLink="/login" [state]="{flag: true}" *ngIf="userLoggedIn" (click)="logOut()">
          LogOut</li>
        <img src="../../assets/cart.png" alt="" *ngIf="userLoggedIn" (click)="goToCart()" class="cart">
      </ul>
    </div>
  </div>


</header>
<router-outlet></router-outlet>