<!-- Sticky navbar-->
<!-- <header class="header sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-1 shadow-sm">
    <div class="container"><a class="navbar-brand">
        <img src="../../assets/public (1).png" width="250" alt="" class="d-inline-block align-middle mr-2"
          routerLink="">
      </a>
    </div>
    <ul>
      <form class="nosubmit">
        <input class="nosubmit" type="search" placeholder="Search for books.">
      </form>
      <li class="nav-item"><a class="nav BooksByGenre">Category</a></li>
      <li class="nav-item"><a class="nav about">ABOUT</a></li>
    </ul> -->

<!-- <form class="d-flex">
      <input class="form-control mr-2 s-bar" type="search" placeholder="   Search for books.." aria-label="Search">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form> -->


<!-- <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav" routerLink="/admin">Admin</a></li>
      <li class="nav-item"><button class="btn-primary login" routerLink="/login" [state]="{flag: true}">Login</button></li>
    </ul>
  </nav>
</header> -->

<header>

  <div class="navbar2">
    <div><img src="../../assets/public (1)-PhotoRoom.png" alt="" class="logo" routerLink=""></div>
    <div class="header2">
      <ul class="menu2">
        <form class="nosubmit">
          <input class="nosubmit" name="searchWord" type="search" placeholder="Search for books."
            [(ngModel)]="searchWord" (keyup)="search()">
        </form>
        <li>Home</li>
        <li>About</li>
        <li routerLink="category">Category</li>
        <li class="nav" routerLink="/admin">Admin</li>
        <li class="login" routerLink="/login" [state]="{flag: true}" *ngIf="key.source._value">Login</li>
        <li class="login" routerLink="/login" [state]="{flag: true}" *ngIf="!key.source._value">LogOut</li>
        <li>Acc</li>
        <img src="../../assets/cart.png" alt="" routerLink="/cart" class="cart">
      </ul>
    </div>
  </div>


</header>


<!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <li><a class="dropdown-item" href="#">New Customer? <button type="button" class="signUp-btn">Sign Up</button></a></li>
  <hr>
  <li><a class="dropdown-item" href="#">Another action</a></li>
  <hr>
  <li><a class="dropdown-item" href="#">Something else here</a></li>
</ul>
</button> -->