<!-- Sticky navbar-->
<header class="header sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-1 shadow-sm">
    <div class="container"><a class="navbar-brand">
        <img src="../../assets/public (1).png" width="250" alt="" class="d-inline-block align-middle mr-2" routerLink="">
      </a>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active"><a class="nav-link home">About</a></li>
      <li class="nav-item active"><a class="nav-link BooksByGenre">Books By Genre</a></li>
      
    </ul>

    <!-- <form class="d-flex">
      <input class="form-control mr-2 s-bar" type="search" placeholder="   Search for books.." aria-label="Search">
      <button class="btn btn-outline-primary" type="submit">Search</button>
    </form> -->

    <form class="nosubmit">
      <input class="nosubmit" type="search" placeholder="Search for books.">
    </form>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><a class="nav-link link" routerLink="/admin">Admin</a></li>
      <li class="nav-item"><button class="btn btn-primary login" routerLink="/login">Login</button></li>
    </ul>
  </nav>
</header>

<!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  <li><a class="dropdown-item" href="#">New Customer? <button type="button" class="signUp-btn">Sign Up</button></a></li>
  <hr>
  <li><a class="dropdown-item" href="#">Another action</a></li>
  <hr>
  <li><a class="dropdown-item" href="#">Something else here</a></li>
</ul>
</button> -->